<form action= "/productos" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="nombreProducto">Nombre del producto:</label>
            <input type="text" name="nombreProducto" placeholder="Nombre del producto" class="form-control rounded-0 bg-dark border-0  text-white" />
        </div>
        <div class="mb-3">
            <label for="sku">SKU:</label>
            <input type="text" name="sku" placeholder="SKU" class="form-control rounded-0 bg-dark border-0  text-white"/>
        </div>
        <div class="mb-3">
            <label for="tags">Tags:</label>
            <input type="text" name="tags" placeholder="Tags" class="form-control rounded-0 bg-dark border-0  text-white"/>
        </div>
        <div class="mb-3">
            <label for="costo">Costo:</label>
            <input type="text" name="costo" placeholder="$ Costo" class="form-control rounded-0 bg-dark border-0  text-white"/>
        </div>
        <div class="mb-3">
            <label for="estatus">Estatus:</label>
            <input type="text" name="estatus" placeholder="Estatus" class="form-control rounded-0 bg-dark border-0  text-white"/>
        </div>
        <div class="mb-3">
            <label for="tallas">Tallas:</label>
            <input type="text" name="tallas" placeholder="Tallas" class="form-control rounded-0 bg-dark border-0  text-white"/>
        </div>
    <button class="btn btn-primary">Enviar</button>
</div>
</form> 