{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <div class="col-md-5">
        {% include 'partials/messages.html' %}
        {% include 'partials/productosForm.html' %}
    </div>

    <div class="col-md-7">
        {% for producto in productos %}
        <div class="card mb-1 text-white bg-dark">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                     <h5>{{producto.nombreProducto}}</h5>
                <div>
                    <a href="{{url_for('productos.actualizar_producto', id=producto.id)}}" class="btn btn-dark btn-sm rounded-0">Actualizar</a>
                    <a href="{{url_for('productos.eliminar_producto', id=producto.id)}}" class="btn btn-danger btn-sm rounded-0">Eliminar</a>
                </div>
                </div>
                <p>{{producto.sku}}</p>
                <p>{{producto.tags}}</p>
                <p>{{producto.costo}}</p>
                <p>{{producto.estatus}}</p>
                <p>{{producto.tallas}}</p>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
</div>